<a href="https://colab.research.google.com/github/DellGarcia/AndroidFragments/blob/master/C%C3%B3pia_de_Aula_01_Algoritmos_e_T%C3%A9cnicas_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python: por que aprender?**

* É fácil
* Tem uma grande comunidade
* Excelentes bibliotecas (exemplos: pandas, numpy, mathplotlib, sklearn, ....)
* A mais usada em ciência de dados
* Demandada no mercado (No cargo de Desenvolvedor Python se inicia ganhando R\$ 2.166,00 de salário e pode vir a ganhar até R\$ 7.009,00. A média salarial para Desenvolvedor Python no Brasil é de R\$ 4.130,00. - site: https://www.vagas.com.br/cargo/desenvolvedor-python)

# **Conceitos iniciais:**

**Variáveis:**
São "caixinhas" na memória do computador que servem para guardar dados.

**Tipos de dados:**
Estes dados podem ser de vários tipos:

* Números **inteiros** (símbolo: 'int'); exemplos: 2, 3, 4, 9, ... sua idade
* Números **reais** (símbolo: 'float'); exemplos: $\pi$=3.14159..., 2.54, seu peso, sua altura, ...
* **Texto** (símbolo: 'str', abreviação de *string*); exemplos: "Oi!", 'Assim também é texto', "Algoritmos e Programação", ..
* .... e outros que veremos adiante

In [ ]:
a = 2
print(a) # estou mostrando o valor da variável 'a'
print(type(a))  # descubro qual é o tipo de dado da variável 'a'

2
<class 'int'>

In [ ]:
b = 3.1415
print(b)
print(type(b))  # descubro qual é o tipo de dado da variável 'b'

c = "Alô, mundo!!"
print(c)
print(type(c))  # descubro qual é o tipo de dado da variável 'c'

3.1415
<class 'float'>
Alô, mundo!!
<class 'str'>

**Descobriu o que faz o operador "="?**

Ele é conhecido como **atribuição**; ele faz com que um valor à direita seja copiado para uma variável à esquerda.
O valor de uma variável pode ser alterado várias vezes durante um programa:

In [ ]:
print(a)
a = 6
print(a)

2
6

**Operações aritméticas:**

Do lado direito da atribuição podemos fazer operações aritméticas:
* \+ (soma),
* \- (subtração),
* \* (multiplicação),
* \/ (divisão real),
* \// (divisão inteira),
* \% (resto da divisão inteira ou módulo)
* \** (exponenciação)


**Exemplos:**

In [ ]:
x = 3
y = 2
z = x + y
print(z)

5

In [ ]:
z = x - y
print(z)

1

In [ ]:
z = x * y
print(z)

6

In [ ]:
z = x / y
print(z)

1.5

In [ ]:
z = x // y
print(z)

1

*Entendeu o que aconteceu aqui em cima? Consegue explicar?*

In [ ]:
x = 11
y = 3
z = x % y
print(z)

2

*E aqui em cima? Consegue explicar?*

In [ ]:
x = 3
y = 2
z = x ** y
print(z)

9

**Entrada e saída de dados:**

Vocês já sabem como mostrar algo na tela do computador, não é?

In [ ]:
print("Alô mundo!")
print('O valor de x é', x, 'e o de y é', y)

Alô mundo!
O valor de x é 3 e o de y é 2

Agora veja como podemos ler algo digitado pelo teclado:

In [ ]:
nome = input('Qual é o seu nome? ')
print('O seu nome é', nome)

Qual é o seu nome? Carlos Menezes
O seu nome é Carlos Menezes

*Repare* que o *input* somente devolve um texto ('str' é uma abreviação de *string*):

In [ ]:
print(type(nome))

<class 'str'>

E como fazemos para ler um número? Uso **int()** ou **float()** para converter um texto em número.

In [ ]:
texto = "123"
print(type(texto))
numero = int(texto)  # converto o texto "123" para o número 123
print(type(numero))

<class 'str'>
<class 'int'>

In [ ]:
idade = int(input('Qual é sua idade? '))  # converto a leitura (texto) em número inteiro
altura = float(input('Qual é sua altura? '))  # converto a leitura (texto) em número real
peso = float(input('Qual é seu peso? '))  # converto a leitura (texto) em número real
print(nome, ', você tem', idade, 'anos de idade,', altura, 'm de altura e', peso, 'kg de peso.')

---
# **Exercícios:**

**Agora é hora de praticar:**

1) Faça um programa que converta dólares em reais.

In [ ]:
dolares = float(input("Informe um valor em dolares: "))
reais = dolares * 5.45
print(f"US$ {dolares} equivale a R$ {reais}")

Informe um valor em dolares: 1
US$ 1.0 equivale a R$ 5.45

2) Faça um programa que converta reais em dólares.

In [ ]:
reais = float(input("Informe um valor em reais: "))
dolares = reais / 5.45
print(f"R$ {reais} equivale a US$ {dolares}")

Informe um valor em reais: 5.45
R$ 5.45 equivale a US$ 1.0

3) Faça um programa que calcule a área de um retângulo e seu perímetro com base em seus dois lados.

In [ ]:
base = int(input("Informe o valor da base do retangulo: "))
altura = int(input("Informe o valor da altura do retangulo: "))

area = base * altura
perimetro = base * 2 + altura * 2

print(f'A area do retangulo é de {area} e seu perimetro é {perimetro}')

Informe o valor da base do retangulo: 2
Informe o valor da altura do retangulo: 2
A area do retangulo é de 4 e seu perimetro é 8

4) Faça um programa que converta a temperatura de graus Celsius para graus Fahrenheit.
$$
F = \frac{9}{5}*C + 32
$$

In [ ]:
celcius = int(input('Informe uma temperatura em celcius: '))
fahrenheit = 9 / 5 * celcius + 32
print(f'{celcius}º em celcius equilvale a {fahrenheit}º em fahrenheit')

Informe uma temperatura em graus celcius: 23
23º em celcius equilvale a 73.4º em fahrenheit

5) Faça um programa que converta a temperatura de graus Fahrenheit para graus Celsius.

In [ ]:
fahrenheit = float(input('Informe uma temperatura em fahrenheit: '))
celcius = (fahrenheit - 32)  / (9 / 5)
print(f'{fahrenheit}º em fahrenheit equilvale a {celcius}º em celcius')

Informe uma temperatura em fahrenheit: 73.4
73.4º em fahrenheit equilvale a 23.000000000000004º em celcius

6) Faça um programa que calcule o Índice de Massa Corporal (IMC) com base no peso e altura do indivíduo:
$$
IMC = \frac{peso}{altura^2} \\
$$

In [ ]:
peso = float(input('Informe seu peso: '))
altura = float(input('Informe sua altura: '))

imc = peso / altura ** 2
print(f'Seu IMC é de {imc}')

Informe seu peso: 55
Informe sua altura: 1.73
Seu IMC é de 18.376825152861773

7) Calcular a hipotenusa de um triângulo retângulo com base em seus catetos:
$$
hipotenusa = \sqrt { cateto_1^2+ cateto_2^2 }
$$

In [ ]:
catA = int(input("Informe o valor do cateto A: "))
catB = int(input("Informe o valor do cateto B: "))

hip = (catA ** 2 + catB ** 2) ** 0.5
print(f'O valor da hipotenusa é {hip}')

Informe o valor do cateto A: 3
Informe o valor do cateto B: 4
O valor da hipotenusa é 5.0

8) Faça um programa que calcule a área de um círculo e sua circunferência com base no raio.
$$
circunferencia = 2 * \pi * raio \\
area = \pi * raio ^ 2
$$

In [ ]:
raio = int(input('Informe o raio: '))

from math import pi

circun = 2 * pi * raio
area = pi * raio ** 2

print(f'O circulo tem uma área de {area}, com uma circunferencia de {circun}')

Informe o raio: 2
O circulo tem uma área de 12, com uma circunferencia de 12.566370614359172

9) Faça um programa que calcule a área de um triângulo com base em sua base e sua altura.
$$
area = \frac{base * altura}{2} \\
$$

In [ ]:
base = int(input("Informe o valor da base do triangulo: "))
altura = int(input("Informe o valor da altura do triangulo: "))

area = base * altura / 2
print(f'A area do triangulo é de {area}')

Informe o valor da base do triangulo: 2
Informe o valor da altura do triangulo: 2
A area do triangulo é de 2.0

10) Faça um programa que calcule a área de um triângulo com base em seus três lados (fórmula de Herão ou Hierão). Sendo a, b e c os lados:
$$
p = \frac{a+b+c}{2} \\
area = \sqrt{ p*(p-a)*(p-b)*(p-c) }
$$

In [ ]:
lado1 = int(input('Informe o primeiro lado do triângulo: '))
lado2 = int(input('Informe o segundo lado do triângulo: '))
lado3 = int(input('Informe o terceiro lado do triangulo: '))

from math import sqrt

p = (lado1 + lado2 + lado3) / 2
area = sqrt(p * (p -lado1) * (p - lado2) * (p- lado3))

print(f'A area do triangulo é de {area}')

Informe o primeiro lado do triângulo: 3
Informe o segundo lado do triângulo: 4
Informe o terceiro lado do triangulo5
A area do triangulo é de 6.0